.exppage
{
	margin: 20px ;
}

.exp
{
	background-color: #FFF ;
	border: solid #F5F5F5 ;
	display: inline-grid ;
	font-size: 15pt ;
	margin: 20px ;
	overflow: hidden ;
	padding: 20px ;
	position: relative ;
	transition: filter .3s ease-in;
	text-align: center ;
	width: 300px ;
}

.exp:hover 
{
	filter: drop-shadow( 5px 3px 7px #888 );
}

.exp h2, p
{
	text-align: left ;
}

.exp p
{
	text-indent: 3ch ;
}

button
{
	background-color: #FEDB00 ;
	border: none ;
	color: #000 ;
	margin: 20px ;
	padding: 10px 20px 10px 20px ;
	text-align: center ;
	text-decoration: none ;
	text-transform: uppercase ;
}

.sub
{
	background-color: #0C60EE;
	color: #FFF;
	height: 30px ;
	position: absolute ;
	right: -40px ;
	text-transform: uppercase ;
	top: 20px ;
	transform: rotate( 45deg ) ;
	width: 150px ;
	transition: all 1s ;
}

.sub:hover
{

	background-color: #0C60EE;
	color: #FFF;
	height: 30px ;
	position: absolute ;
	right: 45px ;
	text-transform: uppercase ;
	top: 20px ;
	width: 100px ;
}