#exppage
{
	margin: 20px ;
}

.exp
{
	background-color: #FFF ;
	border: solid #000 ;
	margin: 20px ;
	padding: 20px ;
}

.exp:hover 
{
	background-color: #4169E1 ;
	color: #FFF ;
}

.exp button
{
	background-color: #FEDB00 ;
	border: none ;
	color: #000 ;
	display: block;
	margin: 20px 600px 10px 600px ;
	padding: 10px 20px 10px 20px ;
	text-align: center ;
	text-decoration: none ;
	text-transform: uppercase ;
}
