*
{
  margin: 0 ; 
  padding: 0 ;
}

a 
{
  text-decoration: none ;
}

#header
{
  display: inline ;
}

#header img
{
  height: auto ;
  margin: 20px 0 0 0 ;
  width: 500px ;
}

#Navigation 
{
	background-color: #FFF ;
  font-family: Calibri Light ;
  display: inline ;
}

.Navi
{
  color: #000 ;
  display: inline-block ;
  font-family: 'Oswald' , sans-serif ;
  font-size: 16px ;
  font-weight: 300 ;
  height: 20px;
  margin: 15px auto ;
  padding: 0 20px ;
  text-align: center ;
  text-decoration: none ;
  text-transform: uppercase ;
  width: 100px ;
}

.Navi:hover 
{
  box-shadow: 0 5px #D3D3D3 ;
}

.hovered
{
  box-shadow: 0 5px #808080 ;
}

footer 
{
  background-color: #696969 ;
  font-family: Calibri Light ;
}

footer p
{
  color: #FFF ;
  display: inline-block ; 
  padding: 20px ;
}

footer select
{
  display: inline-block ; 
}