#infopage
{
	margin: 20px ;
}

.info
{
	background-color: #FFF ;
	border: solid #000 ;
	font-size: 15pt ;
	margin: 20px 50px ;
	padding: 20px ;
	transition: .3s ease-in;
	text-align: center ;
}

.info:hover 
{
	box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.5);
}

.info h2, p
{
	text-align: left ;
}

button
{
	background-color: #FEDB00 ;
	border: none ;
	color: #000 ;
	margin: 20px ;
	padding: 10px 20px 10px 20px ;
	text-align: center ;
	text-decoration: none ;
	text-transform: uppercase ;
}
