.red
{
	color: #DC143C;
}

#first
{
	color: #6495ED;
	text-transform: uppercase ;
}

th
{
	font-size: 20pt ;
	width: 150px ;
	height: 75px ;
}

#schetable
{
	box-shadow: 10px 10px 5px #DCDCDC ;
	margin: 100px 360px 100px 100px ;
}

#schetable
{
	background-color: #4695ED ;
}

th
{
	background-color: #FFF ;
}

button
{
	background-color: transparent ;
	border: none ;
	color: #FFF ;
	display: inline-block ;
	font-size: 20pt ;
}

#title-year
{
	color: #FFF ; 
	display: inline-block ; 
	font-size: 20pt ; 
	margin: 10px 30px ;
}

#title-month
{
	color: #FFF ; 
	font-size: 30pt ; 
	margin: 10px 30px ; 
}

#left
{
	margin: 0 350px 0 0 ;
}

#right
{
	margin: 0 0 0 350px ;
}

#countdown
{
	background-color: #4995ED ;
	border: 2px solid #4695ED ;
	border-radius: 10px 10px 0 0 ;
	position: absolute ;
	right: 25px ;
	top: 230px ;
	width: 300px ;
}

#countdown h4
{
	color: #FFF ;
	font-size: 32pt ;
	padding: 20px 0 ;
	text-align: center ;
}

#countdown p
{
	background-color: #FFF ;
	font-size: 25px ;
	padding: 20px ;
}

#countdown p:hover
{
	background-color: #F5F5F5 ;
}

#countdown span
{
	font-size: 30px ;
}