.cancel
{
  color: #A9A9A9 ;
}

.end
{
  color: #808080 ;
}

.score , .ongoing
{
  color: #00FF00 ;
}

.reg-end , .urgent
{
  color: #FF0000 ;
}

.ava
{
  color: #1E90FF ;
}

.big-countdown
{
  text-align: center ;
}

#c-title h2 , #c-title p
{
  display: inline-block ; 
  font-size: 30pt ;
  font-weight: 700 ;
  margin: 50px 0 20px 0;
}

.countdown div
{
  display: inline-block ;
  font-size: 30pt ;
  margin: 50px ;
}

.countdown p 
{
  font-size: 50pt ;
  text-align: center ;
}

table th
{
  font-size: 15pt ;
  margin: 20px ;
  padding: 20px 50px ;
  text-align: center ;
}

#first-line th
{
  font-size: 25pt ;
}